<div class="nav">
  <nav class="nav fixed-top">
    <div class="navbar-home-red">
    </div>
    <div class="nav navbar-home-white">
      <nav class="ml-auto" style="marging-right: 1%;">
        <ul class="nav">
          <li class="nav-item menu-item">Home</li>
          <li class="nav-item menu-item">Quem Somos</li>
          <li class="nav-item menu-item">Distribuidores</li>
          <li class="nav-item menu-item">Calcule seu Chopp</li>
          <li class="nav-item menu-item">Produtos Parceiros</li>
          <li class="nav-item menu-item">Peça seu Chopp</li>
        </ul>
      </nav>
    </div>
    <img src="<%= asset_path('logo.png') %>" class="navbar-brand logo" align="left">
  </nav>
</div>
<div class="">
  <img src="<%= asset_path('banner-topo-distribuidor.png') %>" align="left" width="100%">
</div>
