/*
// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/

/*// Navbar*/

.navbar-home-red{
  background-color: #E22626;
  width: 100vw;
  height: 58px;
  vertical-align: middle;

}
.navbar-home-white{
  width: 100vw;
  height: 58px;
  background-color: #F7F7F7;
}
.logo{
  float: left;
  z-index: 11;
  left: 7%;
  top: .78%;
  position: absolute;
  width: 95px;
}
.menu-item{
  padding-left: 15px;
  padding-top: 15px;
  font-size: 14px;
  text-align:center;
  vertical-align: middle;
}
.menu-nav{
  right: 7%;
  line-height: 35px;
  vertical-align: middle;
  position: absolute;
  font-style: oblique;
}
.form-social{
  position:absolute;
  right:7%;
  color: white;
  font-style: oblique;
  height: 58px;
  line-height: 58px;
  vertical-align: middle;


}
.news-form{
  border: 0;
  background-color: #982020;
  border-radius: 5px;
  margin-left:10px;
  line-height: 34px !important;
}
.news-form::placeholder{
  font-style: italic;
  color: white;
  opacity: .5;
  padding-left: 10px;
}
.btn-submit{
  background-color: #D0961F !important;
  color: white;
  font-style: italic;
  border: 0;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  font-size: 14px;
  line-height: 34px !important;
}
.btn-social{
  background-color: white;
  border-radius: 100%;
  border: 0;
  line-height: 24px !important;
  font-size: 14px;
  margin: 5px;
  width: 30px;
  height: 30px;

}
.btn-social, a{
  color: #E34027;
}
/*// Navbar*/

/*//Banner div*/
.banner-div{
  height: 100%;
  width: 100vw;
}
.banner-image{
  height: 100%;
  width: 100%;
}
/* Banner div*/

/* About div*/
#about-us{
  background-color: white;
  padding-top: 7%;
  padding-bottom: 7%;
  padding-right: 7%;
}

.about-div{
  height: 100%;
  width: 100%;
}
.about-text {
  padding-top: 7%;
  text-align: justify;
  float:left;
  height: auto;
}
.img-about{
  width: 620px;
  padding-left: 10%;

}
.about-us{
  font-size: 20px;
  text-align: justify;
}
/*About div*/

/* Distributor div*/
#distributor{
  width: 100vw;
  height: 100%;
  padding-top: 7%;
  padding-bottom: 7%;
  padding-left: 7%;
  background-color: #E22626;
}
.distributor-text{
  color: white;
  padding-top: 15%;
}


.find-distributor{
  width: 520px;
  height:100%;
  color: white;
  font-size: 38px;
}
.img-distributor{
  vertical-aling: middle;
  width: 500px;
}
.btn-distributor{
  background-color: #D0961F !important;
  color: white;
  font-style: italic;
  border: 0;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  font-size: 20px;
  line-height: 44px !important;
}
/* Distributor div*/

/*Calculator*/
.calculator-section{
  width: 100%;
	background-repeat: repeat;
	background-size: cover;
  align-items: center;
  padding-top: 3.5%;
  padding-bottom: 3.5%;
  padding-left: 7%;
  padding-right: 7%;
}

.calculator-text{
  font-style: oblique;
	text-align: justify;
	width:90%;
  margin-bottom: 15px;
}
/* Calculator*/

.calculate-img {
	width: 80%;
	margin-left: 7%;
	margin-right: 0px;
	border: 0px;
}

#calc-img {
	align-items: center;
}

.calculator-result {
	border-radius: 15px;
	background-color: #D0961F;
	width: 650px;
	height:38px;
	vertical-align: middle;
	text-align: center;
	line-height: 2.5;
	color: white;
	font-style: oblique;
	font-weight: 700;

}

#btn-calc {
	width: 150px;
	background-color: #E22626;
	color: white;
	margin-top: 45px;
	border-bottom-color: dimgrey;
	font-style: oblique;
	font-weight: 700;
}

.bg-input {
  background-color: transparent!important;
}

.c-result {
	font-weight: 600;
	font-size: 18px;
	margin-top: 34px;
}

.img-sample {
	width: 250px;
	height: 433px;
	border-radius: 5px;
	background-color: white;
	margin: 10px;
}

#product-button {
	background-color: #E22626;
	color: white;
	width: 230px;
	margin-top: 40px;
	align-content: center;
	align-self: center;
}

#ask-chopp {
	padding-bottom: 3%;
	padding-top: 3%;
	margin-left: 7%;
	margin-right: 7%;
}

#chopp-img {
	width: 400px;
	align: right;
  padding-right: 7%;
}

#btn-ask {
	background-color: #085A7E;
	color: white;
	width: 200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 25px;
}

#footer {
	color: white;
	background-color: #C40606;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 7%;
	padding-right: 7%

}

#img-footer {
	width: 168px;
}

#li-footer {
	text-decoration: none;

}

#midias-sociais {
	border-color: white;
	border-style: solid;
	text-align: center;
	vertical-align: middle;
	border-radius: 5px;
	align-content: center;
	align-content: center;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 30px;
}

#midias-sociais-div {
	margin-left: 15px;
}
